@function envCheck($env, $use) {

  @if $use == null {
    @error 'Environment check function need a second argument (string)';
  }

  @if $use == 'selector' {
    @if $env == dev {
      $output: '.' !global;
    } @else if $env == prod {
      $output: '%' !global;
    } @else {
      $output: 'Nothing';
      @error "The environment variable hasn't be set correctly."
    }
  }

  @if $use == 'boolean' {
    @if $env == dev {
      $output: false !global;
    } @else if $env == prod {
      $output: true !global;
    } @else {
      $output: null;
      @error "The environment variable hasn't be set correctly."
    }
  }

  @return $output;
}