@function getThisKeyNo($map, $item) {
  $no: 1;
  $map-keys: map-keys($map);
  @each $map-item in $map-keys {
    @if $item == $map-item {
      @return $no;
    }
    $no: $no + 1;
  }
  @return 0;
}