@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans',serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #d1d1d1;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h3 {
    margin-top: 0;
}

.main-navigation {
    display: block;
    background-color: #989898;
    margin-bottom: 1rem;
    padding: 0 2rem
}

.home-button {
    margin: 2rem 1rem 1.75rem;
}

.main-navigation .ion-home {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

.main-navigation h2 {
    color: #4f4f4f;
    font-size: 1.25rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.main-navigation ul {
    text-align: center;
    margin-top: 0;
}

.main-navigation ul > li {
    display: inline-block;
    margin: 2rem 1rem 2.5rem;
}

.main-navigation li > .button {
    position: relative;
    bottom: -.3rem;
}

.main-navigation a {
    padding: .5rem 1rem;
    border-radius: 99px;
}

.failed-colours {
    margin-bottom: 1rem;
}

.element-properties {
    margin-bottom: 1rem;
}

.element-properties > li {
    margin-left: 1.25rem;
}

.report-items {
    text-align: center;
    display: flex;

    align-items: flex-start;
    justify-content: flex-start;
    /* You can set flex-wrap and flex-direction individually */
    flex-direction: row;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
}

.report-item {
    padding: 1.5rem 2rem;
    background-color: white;
    text-align: left;
    list-style: none;
    margin: 1%;
    display: block;
    vertical-align: top;
    width: 99%;
}

.report-item h3 {
    padding-bottom: .25rem;
    border-bottom: 1px solid #cccccc;
}

@media screen and (min-width: 520px) {
    .report-item {
        display: inline-block;
        width: 48%;
    }
}

@media screen and (min-width: 850px) {
    .report-item {
        width: 31%;
    }
}

.colour-sample {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid #cccccc;
}

.failed-colour {
    display: block;
}

.inline-block {
    display: inline-block;
}


/* UI elements */

.button {
    color: #fff;
    background-color: #71659c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #372253;
    display: inline-block;
    vertical-align: bottom;
}

.button:hover {
    background-color: #5f5382
}

.button:active {
    background-color: #5f5382;
    box-shadow: 0 2px #372253;
    transform: translateY(3px);
}

/* ----- UI elements ends ---------- */


/* Icons */

h2 > b {
    margin: 0 .25rem;
}

[class*="ion-"] {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .5rem;
}

.ion-information-circled {
    color: #417cb8;
}

.ion-alert-circled {
    color: #b8312f;
}

/* ----------- Icons ends ------------*/