// Icons
//
// This is generated from _icon_gen.scss.mustache.
//
//
//
//
//
//
//
// Markup:
// <!-- Icons: -->
//  {{#items}}<div class="icon icon-{{slug}}"></div>
//  {{/items}}
//
// Styleguide {{=<% %>=}}{{iconno}}<%={{ }}=%>.0

.icon {
    background-repeat: no-repeat;

    {{#items}}
    &.icon-{{slug}} {
        background-image: url('{{{datauri}}}');
        width: {{width}}px;
        height: {{height}}px;
    }

    {{/items}}
}