<nav class="main-navigation">
    <a href="/index.html" class="inline-block button home-button"><b class="ion-home"></b></a>
    <h2 class="inline-block">Reports: </h2>
    <ul class="inline-block">
        {{#each this.reports}}
            <li><a href="/{{ this }}" class="button">{{ neaten this }}</a></li>
        {{/each}}
    </ul>
</nav>