<ul class="report-items">
{{#each this.data}}
    <li class="report-item" data-mh="report-item">
        <h3><b class="ion-information-circled"></b>Element info:</h3>
        <ul class="element-properties">
        {{#each item.properties}}
            <li>
                <b>{{reverseCamelCaseHB (removeNonWordHB (stringify @key))}}: </b> {{{ this }}}
            </li>
        {{/each}}
        </ul>
        <div class="failed-colours">
            <h3><b class="ion-alert-circled"></b>Failed Colours:</h3>
            <ul>
                {{#each item.failedColours}}
                    <li class="failed-colour"><span class="colour-sample" style="background-color: {{ this }};"></span>{{ this }}</li>
                {{/each}}
            </ul>
        </div>
    </li>
{{/each}}
</ul>