////
/// @group Colours
////

/// Palette Map.
/// Define the color scheme used on the site.
///
///
$palette: (
  // Theme Palette colours.
        blue:      (#464E8C, 18),
        maroon:    (#7D3121),
        red:       (#A61C36),
        brown:     (#846525, 15),
        cream:     (#e5e194)
);

$utility-palette: (
  // Colours regularly used without the need for variations.
        notSet:      (rgba(0, 0, 0, 0)),
        black:      (rgb(0, 0, 0)),
        white:      (rgb(256, 256, 256)),
        grey:      (rgb(128, 128, 128)),
        text:      (#2d2d2d),
        offwhite:  (#fffef6),
        offblack:  (#212121)
);

$tint_factor_default: 20;
$number_of_shades: 3; // 0, 1, 2 or 3