// ----------------------------------------------------------------------

// Colour function

// ----------------------------------------------------------------------

/// Makes creating consistent shades easy.
///
/// @param {colour} $col - Add your colour stating point (or just the colour you want to print)
/// @param {modification} $modifier [nothing] - Add a modifier to change the lightness/darkeness or saturation.
///
/// @example scss - Colour function
///   colour(blue)
///   // Outputs #3bb9d7
///
///   colour(blue, dark)
///   // Outputs #269db9
///   // Also...
///   colour(blue, darker)
///   colour(blue, darkest)
///
///   colour(blue, light)
///   // Outputs #269db9
///   // Also...
///   colour(blue, lighter)
///   colour(blue, lightest)
///
///   colour(blue, bright)
///   // Outputs increased saturation version.
///
///   colour(blue, trans)
///   // Outputs rgba value with opacity set to .5.
///
///   colour(blue, complement)
///   // Outputs orange as it's opposite blue on the colour wheel.

@function colour-processor($col, $modifier: standard) {

  @if map-has-key($palette, $col) {

    // Check if a tint factor override has been declared.
    $testlength: length(map-get($palette, $col));

    // Set the tint factor to the default value.
    $tint_factor: $tint_factor_default;

    // Override the tint factor if a value has been set.
    @if $testlength == 2 {
      $tint_factor: nth(map-get($palette, $col), 2);
    }

    $base_colour: nth(map-get($palette, $col), 1);

    @if $modifier == darkest and $number_of_shades > 2 {
      @return scale_color($base_colour, $lightness: -($tint_factor * 3) * 1%);
    }
    @else if $modifier == darker and $number_of_shades > 1 {
      @return scale_color($base_colour, $lightness: -($tint_factor * 2) * 1%);
    }
    @else if $modifier == dark and $number_of_shades > 0 {
      @return scale_color($base_colour, $lightness: -$tint_factor * 1%);
    }
    @else if $modifier == light and $number_of_shades > 0 {
      @return scale_color($base_colour, $lightness: $tint_factor * 1%);
    }
    @else if $modifier == lighter and $number_of_shades > 1 {
      @return scale_color($base_colour, $lightness: $tint_factor * 2) * 1%;
    }
    @else if $modifier == lightest and $number_of_shades > 2 {
      @return scale_color($base_colour, $lightness: $tint_factor * 3) * 1%;
    }
    @else if $modifier == dull {
      @return desaturate($base_colour, $lightness: 50%);
    }
    @else if $modifier == bright {
      @return change-color($base_colour, $hue: null, $saturation: 80%, $lightness: 50%);
    }
    @else if $modifier == trans {
      @return transparentize($base_colour, .5);
    }
    @else if $modifier == complement {
      @return complement($base_colour);
    }
    @else if $modifier == standard {
      @return $base_colour;
    }
    @else {
      @debug "`#{$modifier}` unknown.";
      @return null;
    }
  }
  @else if map-has-key($utility-palette, $col) {
    $base_colour: nth(map-get($utility-palette, $col), 1);
    @return $base_colour;
  }
  @else {
    @error "`#{$col}` doesn’t exist in $palette.";
    @return null;
  }

}


@function colour($colour, $modifier: 'standard') {
  @return colour-processor($colour, $modifier);
}
