// Get the key names of the colours from palettes.
$colours: map-keys($palette);

/*
Colours


Markup:
<div class="{{modifier_class}}" style="height: 50px;">.{{modifier_class}}</div>

Styleguide #{$colours-no}.0.0
*/


/*
Palette Colours

The global default tint/shading modifier is currently #{$tint_factor_default}.

Markup:
<div class="{{modifier_class}}" style="height: 50px;"></div>

Styleguide #{$colours-no}.1.0
*/


$i: 0;

// This is needed for the envCheck function to work correctly.
@import "../utilities/root";

@each $colour in $colours {
  $i: $i + 1;
  //@debug '.#{$colour}-standard';

  $selector: envCheck($env, 'selector');

  //@debug $env;
  //@debug $selector;

  $testlength: length(map-get($palette, $colour));

  $tint_factor: $tint_factor_default;

  @if $testlength == 2 {
    $tint_factor: nth(map-get($palette, $colour), 2);
  }

  #{$selector}#{$colour} {
    background-color: colour-processor($colour);
  }

  @if $number_of_shades > 0 {
    #{$selector}#{$colour}--dark {
      background-color: colour-processor($colour, dark);
    }
  }

  @if $number_of_shades > 1 {
    #{$selector}#{$colour}--darker {
      background-color: colour-processor($colour, darker);
    }
  }

  @if $number_of_shades > 2 {
    #{$selector}#{$colour}--darkest {
      background-color: colour-processor($colour, darkest);
    }
  }

  @if $number_of_shades > 0 {
    #{$selector}#{$colour}--light {
      background-color: colour-processor($colour, light);
    }
  }

  @if $number_of_shades > 1 {
    #{$selector}#{$colour}--lighter {
      background-color: colour-processor($colour, lighter);
    }
  }

  @if $number_of_shades > 2 {
    #{$selector}#{$colour}--lightest {
      background-color: colour-processor($colour, lightest);
    }
  }

  #{$selector}#{$colour}--bright {
    background-color: colour-processor($colour, bright);
  }

  #{$selector}#{$colour}--trans {
    background-color: colour-processor($colour, trans)
  }

  #{$selector}#{$colour}--complement {
    background-color: colour-processor($colour, complement);
  }


  @if $number_of_shades == 3 {

/*
Colours ~ #{$colour}

The tint/shading modifier for this colour is currently #{$tint_factor}.

Markup:
<div class="{{modifier_class}}" style="height: 50px;"></div>

.#{$colour}--lightest    - Use colour(#{$colour}, lightest).
.#{$colour}--lighter     - Use colour(#{$colour}, lighter).
.#{$colour}--light       - Use colour(#{$colour}, light).
.#{$colour}              - ------------------ Use colour(#{$colour}). ------------------
.#{$colour}--dark        - Use colour(#{$colour}, dark).
.#{$colour}--darker      - Use colour(#{$colour}, darker).
.#{$colour}--darkest     - Use colour(#{$colour}, darkest).
.#{$colour}--bright      - Use colour(#{$colour}, bright).
.#{$colour}--trans       - Use colour(#{$colour}, trans).
.#{$colour}--complement  - Use colour(#{$colour}, complement).

Styleguide #{$colours-no}.1.#{$i}
*/
  }

  @if $number_of_shades == 2 {

/*
Colours ~ #{$colour}

The tint/shading modifier for this colour is currently #{$tint_factor}.

Markup:
<div class="{{modifier_class}}" style="height: 50px;"></div>

.#{$colour}--lighter     - Use colour(#{$colour}, lighter).
.#{$colour}--light       - Use colour(#{$colour}, light).
.#{$colour}              - ------------------ Use colour(#{$colour}). ------------------
.#{$colour}--dark        - Use colour(#{$colour}, dark).
.#{$colour}--darker      - Use colour(#{$colour}, darker).
.#{$colour}--bright      - Use colour(#{$colour}, bright).
.#{$colour}--trans       - Use colour(#{$colour}, trans).
.#{$colour}--complement  - Use colour(#{$colour}, complement).

Styleguide #{$colours-no}.1.#{$i}
*/
  }

  @if $number_of_shades == 1 {

/*
Colours ~ #{$colour}

The tint/shading modifier for this colour is currently #{$tint_factor}.

Markup:
<div class="{{modifier_class}}" style="height: 50px;"></div>

.#{$colour}--light       - Use colour(#{$colour}, light).
.#{$colour}              - ------------------ Use colour(#{$colour}). ------------------
.#{$colour}--dark        - Use colour(#{$colour}, dark).
.#{$colour}--bright      - Use colour(#{$colour}, bright).
.#{$colour}--trans       - Use colour(#{$colour}, trans).
.#{$colour}--complement  - Use colour(#{$colour}, complement).

Styleguide #{$colours-no}.1.#{$i}
*/
  }

  @if $number_of_shades == 0 {

/*
Colours ~ #{$colour}

The tint/shading modifier for this colour is currently #{$tint_factor}.

Markup:
<div class="{{modifier_class}}" style="height: 50px;"></div>

.#{$colour}              - ------------------ Use colour(#{$colour}). ------------------
.#{$colour}--bright      - Use colour(#{$colour}, bright).
.#{$colour}--trans       - Use colour(#{$colour}, trans).
.#{$colour}--complement  - Use colour(#{$colour}, complement).

Styleguide #{$colours-no}.1.#{$i}
*/

  }
}


/*
Utility Colours

.

Markup:
<div class="{{modifier_class}}" style="height: 50px;"></div>

Styleguide #{$colours-no}.2.0
*/

// Get the key names of the colours from palettes.
$utility-colours: map-keys($utility-palette);

// Reset counter.
$i: 0;

@each $colour in $utility-colours {
  $i: $i + 1;

  $selector: envCheck($env, 'selector');

  #{$selector}#{$colour} {
    background-color: colour-processor($colour);
  }

  /*
  Utility Colours ~ #{$colour}

  .

  Markup:
  <div class="{{modifier_class}}" style="height: 50px;"></div>

  .#{$colour}         - ------------------ Use colour(#{$colour}). ------------------

  Styleguide #{$colours-no}.2.#{$i}
  */

}
